In [1]:
import yfinance as yf

stock = yf.Ticker("2330.TW")

In [2]:
hist_3mo = stock.history(period="2y")
hist_3mo

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-06-02 00:00:00+08:00,541.262247,546.103591,539.325709,544.167053,30206141,0.0,0.0
2023-06-05 00:00:00+08:00,542.230381,542.230381,537.389038,537.389038,16827391,0.0,0.0
2023-06-06 00:00:00+08:00,536.420917,544.167067,535.452648,542.230530,20228086,0.0,0.0
2023-06-07 00:00:00+08:00,543.198743,549.976624,542.230474,549.976624,27604813,0.0,0.0
2023-06-08 00:00:00+08:00,544.166952,549.976563,537.389072,541.262146,23080195,0.0,0.0
...,...,...,...,...,...,...,...
2025-05-23 00:00:00+08:00,993.000000,993.000000,975.000000,984.000000,22213030,0.0,0.0
2025-05-26 00:00:00+08:00,975.000000,984.000000,975.000000,976.000000,19329052,0.0,0.0
2025-05-27 00:00:00+08:00,971.000000,975.000000,961.000000,965.000000,26355315,0.0,0.0
2025-05-28 00:00:00+08:00,984.000000,985.000000,967.000000,967.000000,26471533,0.0,0.0
2025-05-29 00:00:00+08:00,986.000000,986.000000,967.000000,967.000000,49223290,0.0,0.0

In [3]:
print(hist_3mo["Close"].mean())
print(hist_3mo["Close"].max())

654.3532555621604
1085.0

In [4]:
hist_3mo["Date"] = hist_3mo.index
hist_3mo

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Date
Date,,,,,,,,
2022-11-01 00:00:00+08:00,373.436117,377.761632,371.033053,376.319794,41426496,0.0,0.0,2022-11-01 00:00:00+08:00
2022-11-02 00:00:00+08:00,375.839180,379.684082,373.436116,379.684082,22535650,0.0,0.0,2022-11-02 00:00:00+08:00
2022-11-03 00:00:00+08:00,370.071791,371.994241,368.629952,369.110565,39731333,0.0,0.0,2022-11-03 00:00:00+08:00
2022-11-04 00:00:00+08:00,366.226946,369.591235,363.823882,367.188171,28397417,0.0,0.0,2022-11-04 00:00:00+08:00
2022-11-07 00:00:00+08:00,374.877930,377.761606,371.994253,374.877930,35387706,0.0,0.0,2022-11-07 00:00:00+08:00
...,...,...,...,...,...,...,...,...
2024-10-25 00:00:00+08:00,1065.000000,1070.000000,1060.000000,1065.000000,22009575,0.0,0.0,2024-10-25 00:00:00+08:00
2024-10-28 00:00:00+08:00,1075.000000,1080.000000,1050.000000,1050.000000,40142324,0.0,0.0,2024-10-28 00:00:00+08:00
2024-10-29 00:00:00+08:00,1035.000000,1040.000000,1020.000000,1040.000000,45415773,0.0,0.0,2024-10-29 00:00:00+08:00
2024-10-30 00:00:00+08:00,1040.000000,1055.000000,1030.000000,1030.000000,38201984,0.0,0.0,2024-10-30 00:00:00+08:00
2024-11-01 00:00:00+08:00,996.000000,1030.000000,996.000000,1025.000000,54480255,0.0,0.0,2024-11-01 00:00:00+08:00

In [49]:
import pandas as pd
import numpy as np

# Assuming you have a DataFrame `df` with columns 'Date' and 'Close' (daily closing prices)
# Example:
# df = pd.DataFrame({'Date': [...], 'Close': [...]})
df = hist_3mo.copy()

def calculate_sma(df, window=20):
    """Calculate Simple Moving Average."""
    df['SMA'] = df['Close'].rolling(window=window).mean()
    return df

def calculate_rsi(df, window=14):
    """Calculate Relative Strength Index (RSI) with exponential moving averages to avoid NaN issues."""
    delta = df['Close'].diff(1)
    
    # Separate gains and losses
    gain = delta.where(delta > 0, 0)
    loss = -delta.where(delta < 0, 0)
    
    # Calculate exponential moving averages for gain and loss
    avg_gain = gain.ewm(com=window - 1, min_periods=1).mean()
    avg_loss = loss.ewm(com=window - 1, min_periods=1).mean()
    
    # Calculate RS (Relative Strength) and RSI
    rs = avg_gain / avg_loss
    df['RSI'] = 100 - (100 / (1 + rs))
    
    return df

def generate_buy_signals(df, sma_window=20, rsi_window=14, rsi_buy_threshold=40):
    """Generate buy signals based on SMA crossover and RSI threshold."""
    df = calculate_sma(df, sma_window)
    df = calculate_rsi(df, rsi_window)
    buy_signals = []
    
    for i in range(1, len(df)):
        # Buy condition: Price crosses above SMA and RSI is below buy threshold
        if df['Close'].iloc[i] > df['SMA'].iloc[i] and df['RSI'].iloc[i] < rsi_buy_threshold:
            buy_signals.append((df['Date'].iloc[i], df['Close'].iloc[i]))

    return buy_signals

# Example usage
# Load your data into df
# df = pd.read_csv("your_stock_data.csv")
buy_signals = generate_buy_signals(df)
print("Buy Signals:")
for date, price in buy_signals:
    print(f"Date: {date}, Buy Price: {price}")

Buy Signals:

In [39]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Date,SMA,RSI
Date,,,,,,,,,,
2022-11-01 00:00:00+08:00,373.436117,377.761632,371.033053,376.319794,41426496,0.0,0.0,2022-11-01 00:00:00+08:00,NaN,NaN
2022-11-02 00:00:00+08:00,375.839180,379.684082,373.436116,379.684082,22535650,0.0,0.0,2022-11-02 00:00:00+08:00,NaN,100.000000
2022-11-03 00:00:00+08:00,370.071791,371.994241,368.629952,369.110565,39731333,0.0,0.0,2022-11-03 00:00:00+08:00,NaN,21.428509
2022-11-04 00:00:00+08:00,366.226946,369.591235,363.823882,367.188171,28397417,0.0,0.0,2022-11-04 00:00:00+08:00,NaN,18.367378
2022-11-07 00:00:00+08:00,374.877930,377.761606,371.994253,374.877930,35387706,0.0,0.0,2022-11-07 00:00:00+08:00,NaN,51.020350
...,...,...,...,...,...,...,...,...,...,...
2024-10-25 00:00:00+08:00,1065.000000,1070.000000,1060.000000,1065.000000,22009575,0.0,0.0,2024-10-25 00:00:00+08:00,1066.428571,60.235841
2024-10-28 00:00:00+08:00,1075.000000,1080.000000,1050.000000,1050.000000,40142324,0.0,0.0,2024-10-28 00:00:00+08:00,1068.571429,50.346859
2024-10-29 00:00:00+08:00,1035.000000,1040.000000,1020.000000,1040.000000,45415773,0.0,0.0,2024-10-29 00:00:00+08:00,1062.142857,44.646065
2024-10-30 00:00:00+08:00,1040.000000,1055.000000,1030.000000,1030.000000,38201984,0.0,0.0,2024-10-30 00:00:00+08:00,1054.285714,39.436429
2024-11-01 00:00:00+08:00,996.000000,1030.000000,996.000000,1025.000000,54480255,0.0,0.0,2024-11-01 00:00:00+08:00,1047.142857,36.923156

In [45]:
df.loc["2024-09-02 00:00:00+08:00"]

Open                           945.782442
High                           950.760244
Low                            938.813518
Close                          943.791321
Volume                           18646835
Dividends                             0.0
Stock Splits                          0.0
Date            2024-09-02 00:00:00+08:00
SMA                            939.112192
RSI                             49.843026
Name: 2024-09-02 00:00:00+08:00, dtype: object

In [48]:
df.loc["2024-08-02 00:00:00+08:00":"2024-09-30 00:00:00+08:00"]

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Date,SMA,RSI
Date,,,,,,,,,,
2024-08-02 00:00:00+08:00,913.924496,923.880100,898.991089,898.991089,76144485,0.0,0.0,2024-08-02 00:00:00+08:00,989.238663,39.871640
2024-08-05 00:00:00+08:00,848.217512,853.195314,809.390654,811.381775,144057989,0.0,0.0,2024-08-05 00:00:00+08:00,979.780838,30.785024
2024-08-06 00:00:00+08:00,864.146475,891.026608,836.270782,876.093201,102930842,0.0,0.0,2024-08-06 00:00:00+08:00,973.558585,41.406873
2024-08-07 00:00:00+08:00,897.000000,915.915649,889.035516,915.915649,59158704,0.0,0.0,2024-08-07 00:00:00+08:00,967.834116,46.815836
2024-08-08 00:00:00+08:00,896.999958,900.982200,883.062112,892.022156,38236391,0.0,0.0,2024-08-08 00:00:00+08:00,960.666077,44.180510
2024-08-09 00:00:00+08:00,922.884531,929.853455,917.906729,929.853455,49494621,0.0,0.0,2024-08-09 00:00:00+08:00,955.140714,49.069055
2024-08-12 00:00:00+08:00,937.817964,943.791327,926.866799,935.826843,38331663,0.0,0.0,2024-08-12 00:00:00+08:00,948.171790,49.816381
2024-08-13 00:00:00+08:00,940.804630,940.804630,932.840146,936.822388,25764381,0.0,0.0,2024-08-13 00:00:00+08:00,943.243762,49.948199
2024-08-14 00:00:00+08:00,946.778002,950.760244,940.804639,943.791321,36780856,0.0,0.0,2024-08-14 00:00:00+08:00,938.664182,50.920061
2024-08-15 00:00:00+08:00,940.804659,945.782461,936.822417,938.813538,19476402,0.0,0.0,2024-08-15 00:00:00+08:00,933.089044,50.170703
2024-08-16 00:00:00+08:00,958.724757,964.698120,953.746955,964.698120,44062316,0.0,0.0,2024-08-16 00:00:00+08:00,930.052588,53.964576
2024-08-19 00:00:00+08:00,964.698117,970.671480,959.720314,968.680359,21348863,0.0,0.0,2024-08-19 00:00:00+08:00,928.459692,54.538054
2024-08-20 00:00:00+08:00,972.662601,972.662601,963.702556,968.680359,24039959,0.0,0.0,2024-08-20 00:00:00+08:00,928.609027,54.538054
2024-08-21 00:00:00+08:00,956.733630,959.720311,951.755827,953.746948,29758188,0.0,0.0,2024-08-21 00:00:00+08:00,929.554810,51.735130
2024-08-22 00:00:00+08:00,953.746938,959.720301,943.791334,946.778015,24349754,0.0,0.0,2024-08-22 00:00:00+08:00,928.161026,50.432520
2024-08-23 00:00:00+08:00,939.809063,947.773547,934.831261,944.786865,27592153,0.0,0.0,2024-08-23 00:00:00+08:00,929.405475,50.044807
2024-08-26 00:00:00+08:00,952.751394,956.733636,940.804668,945.782471,25057581,0.0,0.0,2024-08-26 00:00:00+08:00,929.704144,50.250753
2024-08-27 00:00:00+08:00,940.804613,941.800174,935.826811,937.817932,18693037,0.0,0.0,2024-08-27 00:00:00+08:00,929.803699,48.527231
2024-08-28 00:00:00+08:00,940.804627,959.720276,938.813506,959.720276,31059233,0.0,0.0,2024-08-28 00:00:00+08:00,931.297040,53.273499
2024-08-29 00:00:00+08:00,937.817977,942.795780,932.840175,938.813538,43530708,0.0,0.0,2024-08-29 00:00:00+08:00,930.450815,48.661001
2024-08-30 00:00:00+08:00,939.809082,947.773566,936.822401,939.809082,63834981,0.0,0.0,2024-08-30 00:00:00+08:00,932.491714,48.887940
2024-09-02 00:00:00+08:00,945.782442,950.760244,938.813518,943.791321,18646835,0.0,0.0,2024-09-02 00:00:00+08:00,939.112192,49.843026
2024-09-03 00:00:00+08:00,943.791327,947.773569,934.831283,935.826843,19547575,0.0,0.0,2024-09-03 00:00:00+08:00,942.098874,47.914605
2024-09-04 00:00:00+08:00,890.031086,900.982252,884.057723,885.053284,79709021,0.0,0.0,2024-09-04 00:00:00+08:00,940.555756,37.858572
2024-09-05 00:00:00+08:00,902.973347,910.937831,896.004423,897.995544,30512026,0.0,0.0,2024-09-05 00:00:00+08:00,940.854425,41.243666
2024-09-06 00:00:00+08:00,904.964455,913.924500,898.991093,913.924500,24458336,0.0,0.0,2024-09-06 00:00:00+08:00,940.057977,45.200330
2024-09-09 00:00:00+08:00,888.039927,896.004411,887.044366,895.008850,35885268,0.0,0.0,2024-09-09 00:00:00+08:00,938.017078,41.616414
2024-09-10 00:00:00+08:00,902.973315,906.955556,896.999952,899.986633,33498628,0.0,0.0,2024-09-10 00:00:00+08:00,936.175290,42.899499
2024-09-11 00:00:00+08:00,901.977802,901.977802,896.004440,897.000000,18029342,0.0,0.0,2024-09-11 00:00:00+08:00,933.835724,42.298846
2024-09-12 00:00:00+08:00,936.000000,944.000000,928.000000,940.000000,39454846,4.0,0.0,2024-09-12 00:00:00+08:00,933.895047,52.590950
2024-09-13 00:00:00+08:00,955.000000,955.000000,939.000000,947.000000,25347586,0.0,0.0,2024-09-13 00:00:00+08:00,933.010141,54.028499
2024-09-16 00:00:00+08:00,952.000000,952.000000,943.000000,947.000000,13626239,0.0,0.0,2024-09-16 00:00:00+08:00,931.926123,54.028499
2024-09-18 00:00:00+08:00,945.000000,948.000000,933.000000,941.000000,28424324,0.0,0.0,2024-09-18 00:00:00+08:00,930.542105,52.447581
2024-09-19 00:00:00+08:00,940.000000,960.000000,936.000000,960.000000,32739630,0.0,0.0,2024-09-19 00:00:00+08:00,930.854758,56.762152
2024-09-20 00:00:00+08:00,981.000000,982.000000,971.000000,973.000000,60133709,0.0,0.0,2024-09-20 00:00:00+08:00,932.165857,59.471706
2024-09-23 00:00:00+08:00,971.000000,977.000000,971.000000,977.000000,14497067,0.0,0.0,2024-09-23 00:00:00+08:00,933.776514,60.296162
2024-09-24 00:00:00+08:00,976.000000,987.000000,971.000000,987.000000,26785975,0.0,0.0,2024-09-24 00:00:00+08:00,935.837390,62.357784
2024-09-25 00:00:00+08:00,1000.000000,1005.000000,998.000000,1005.000000,39405222,0.0,0.0,2024-09-25 00:00:00+08:00,939.196494,65.800156
2024-09-26 00:00:00+08:00,1010.000000,1015.000000,1005.000000,1015.000000,38321585,0.0,0.0,2024-09-26 00:00:00+08:00,941.960480,67.574282
2024-09-27 00:00:00+08:00,1020.000000,1025.000000,1000.000000,1000.000000,35783779,0.0,0.0,2024-09-27 00:00:00+08:00,945.019803,62.349488
2024-09-30 00:00:00+08:00,978.000000,990.000000,957.000000,957.000000,61603217,0.0,0.0,2024-09-30 00:00:00+08:00,945.879349,50.334678

In [23]:
delta = df['Close'].diff(1)
gain = np.where(delta > 0, delta, 0)
loss = np.where(delta < 0, -delta, 0)
avg_gain = pd.Series(gain).rolling(window=14, min_periods=1).mean()
avg_gain = avg_gain.replace(0, 1e-10)
avg_loss = pd.Series(loss).rolling(window=14, min_periods=1).mean()
avg_loss = avg_loss.replace(0, 1e-10)
rs = avg_gain / avg_loss
df['RSI'] = 100 - (100 / (1 + rs))

In [30]:
df['RSI2'] = (100 - (100 / (1 + rs))).astype(str)

In [32]:
(100 - (100 / (1 + rs))).astype(str)

0                    50.0
1        99.9999999940552
2      24.137863082804557
3      21.212144535286228
4       46.93871203923881
              ...
478     71.15384615384616
479     61.53846153846154
480     57.49999999999999
481     52.50000000000001
482    44.444444444444436
Length: 483, dtype: object

In [34]:
delta = df['Close'].diff(1)
    
# Separate gains and losses
gain = delta.where(delta > 0, 0)
loss = -delta.where(delta < 0, 0)

# Calculate exponential moving averages for gain and loss
avg_gain = gain.ewm(com=20 - 1, min_periods=1).mean()
avg_loss = loss.ewm(com=20 - 1, min_periods=1).mean()

# Calculate RS (Relative Strength) and RSI
rs = avg_gain / avg_loss
df['RSI'] = 100 - (100 / (1 + rs))

In [35]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Date,SMA,RSI
Date,,,,,,,,,,
2022-11-01 00:00:00+08:00,373.436117,377.761632,371.033053,376.319794,41426496,0.0,0.0,2022-11-01 00:00:00+08:00,NaN,NaN
2022-11-02 00:00:00+08:00,375.839180,379.684082,373.436116,379.684082,22535650,0.0,0.0,2022-11-02 00:00:00+08:00,NaN,100.000000
2022-11-03 00:00:00+08:00,370.071791,371.994241,368.629952,369.110565,39731333,0.0,0.0,2022-11-03 00:00:00+08:00,NaN,23.211103
2022-11-04 00:00:00+08:00,366.226946,369.591235,363.823882,367.188171,28397417,0.0,0.0,2022-11-04 00:00:00+08:00,NaN,20.237073
2022-11-07 00:00:00+08:00,374.877930,377.761606,371.994253,374.877930,35387706,0.0,0.0,2022-11-07 00:00:00+08:00,NaN,48.189275
...,...,...,...,...,...,...,...,...,...,...
2024-10-25 00:00:00+08:00,1065.000000,1070.000000,1060.000000,1065.000000,22009575,0.0,0.0,2024-10-25 00:00:00+08:00,1066.428571,60.716167
2024-10-28 00:00:00+08:00,1075.000000,1080.000000,1050.000000,1050.000000,40142324,0.0,0.0,2024-10-28 00:00:00+08:00,1068.571429,57.651679
2024-10-29 00:00:00+08:00,1035.000000,1040.000000,1020.000000,1040.000000,45415773,0.0,0.0,2024-10-29 00:00:00+08:00,1062.142857,55.679554
2024-10-30 00:00:00+08:00,1040.000000,1055.000000,1030.000000,1030.000000,38201984,0.0,0.0,2024-10-30 00:00:00+08:00,1054.285714,53.744328
2024-11-01 00:00:00+08:00,996.000000,1030.000000,996.000000,1025.000000,54480255,0.0,0.0,2024-11-01 00:00:00+08:00,1047.142857,52.778851